<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    
    <section>
          <div class="file_input_form">
              <form method= "POST" action = "" enctype="multipart/form-data">
               
                    <input type="checkbox" id="sahil" name="check" value="Sahil">
                    <label for="sahil">Sahil</label><br>

                    <input type="checkbox" id="matt" name="check" value="Matt">
                    <label for="matt">Matt</label><br>

                    <input type="checkbox" id="tim" name="check" value="Tim">
                    <label for="tim">Tim</label><br>

                    <input type="checkbox" id="grace" name="check" value="Grace">
                    <label for="grace">Grace</label><br>

                    <input type="checkbox" id="nica" name="check" value="Nica">
                    <label for="nica">Nica</label><br>

                    <input type="checkbox" id="palak" name="check" value="Palak">
                    <label for="palak">Palak</label><br>

                    <input type="checkbox" id="palak" name="check" value="Adrian">
                    <label for="adrian">Adriam</label><br>

                  <div class = "submit_button"><input type="submit" name="submit_form" enctype="multipart/form-data"></div>
              </form>
          </div>
    </section>
    
    </body>
    </html>